---
sep1: "\\|"
sep2: "\\*"
---
<!DOCTYPE html>
<html lang="de">
	<head>
	    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Latein | Tim-Goeppel.de</title>
        <meta name="author" content="Tim Göppel">
        <meta name="description" content="Latein">
        <meta property="og:title" content="Latein | Tim Göppel">
        <meta property="og:description" content="Latein">
		<style>
			* {
				font-family: arial;
			}
			
			.big {
				text-align: center;
				font-size: 40px;
				margin-left: auto;
				margin-right: auto;
			}
			
			table, th, td {
				border: 1px solid black;
			}
			
			table {
				border-collapse: collapse;
			}
			
			#newwords, #known {
				color: green;
			}
			
			#wrongwords, #unknown {
				color: red;
			}
			}
		</style>
	</head>
	<body>
		<p class="big"><span id="newwords">0</span>, <span id="wrongwords">0</span></p>
		
		<p class="big"><span id="currentword"></span> <button id="customsave" class="big" onclick="customWords.add(currentWords[currentWord].slice());">&#128221;</button></p>
		
		<p id="translation" class="big"></p>

		<p class="big" id="inputpara" style="display: none;"><input id="type" type="text" class="big" placeholder="Eingabe"></p>
		<button id="show" onclick="input(0);" style="display: block;" class="big">Zeige</button>
		<div class="big"><button id="known" onclick="input(1);" style="display: none;" class="big">Bekannt</button>
		<button id="unknown" onclick="input(2);" style="display: none;" class="big">Unbekannt</button></div>
		<br>
		<table id="voctable">
		<tr onclick="toggleVocab();"><th colspan=3>Vokabeln<span id="vocabtoggled">&#9662;</span></th></tr>
		<tr><th>Ausgew&auml;hlt</th><th>Seite</th><th>F&auml;llig bis</th></tr>{% for voc in site.data.vokabeln %}{% capture _ %}{% increment col %}{% endcapture %}
		<tr class="mainrow"><td><input type="checkbox" class="vocselected" onclick="input(4, {{ col | minus: 1 }});"><button onclick="toggleVocab({{ col }});">&Ouml;ffnen</button></td><td>{% unless forloop.first %}S. {% endunless %}{{ voc.page }}</td><td><time datetime="{{ voc.date }}">{{ voc.date | date: "%d.%m.%Y" }}</time></td></tr>
		<tr class="hiddenrow{{ col }}" hidden="true"><th>Wort</th><th>&Uuml;bersetzung</th><th>Fremdw&ouml;rter</th></tr>{% for vocabulary in voc.vocabulary %}
		<tr class="hiddenrow{{ col }}" hidden="true"><td><button onclick="customWords.addFromTable({{ col | minus: 1 }}, {{ forloop.index0 | split: ", " | last }});">&#128221;</button> {% if vocabulary[3] %}&bull; {% endif %}{{ vocabulary[0] }}</td><td>{{ vocabulary[1] }}</td><td>{{ vocabulary[2] }}</td></tr>{% endfor %}{% endfor %}
		{% capture colcustom %}{{ col | plus: 1 }}{% endcapture %}<tr><td><input type="checkbox" class="vocselected" onclick="input(4, {{ colcustom | minus: 1 }});"><button onclick="toggleVocab({{ colcustom }});">&Ouml;ffnen</button></td><td colspan="2">Eigene Vokabeln &#127850;</td></tr>
		<tr class="hiddenrow{{ colcustom }}" hidden="true"><th>Wort</th><th>&Uuml;bersetzung</th><th>Fremdw&ouml;rter</th></tr>
		<tr class="hiddenrow{{ colcustom }}" hidden="true"><td><input id="customword" type="text" placeholder="Neues Wort"></td><td><input id="customtranslation" type="text" placeholder="Übersetzung"></td><td><input id="customfw" type="text" placeholder="Fremdwörter"></td></tr>
		<tr class="hiddenrow{{ colcustom }}" hidden="true"><td><label for="customdot">Mit Punkt</label><input id="customdot" type="checkbox"></td><td><button id="customsubmit" onclick="customWords.submit();">Einf&uuml;gen</button></td><td><a id="customdownload" href="data:text/plain;charset=utf-8," download="vokabeln.txt" style="text-decoration: none" onclick="customWords.download(this);">&#128190;</a></td></tr>
		<tr><td><input type="checkbox" id="vocdot" onclick="input(5);"></td><td colspan="2">Wörter mit Punkt lernen</td></tr>
		<tr><td><input type="checkbox" id="vocfw" onclick="input(6);"></td><td colspan="2">Fremdwörter lernen</td></tr>
		<tr><td><input type="checkbox" id="voctype" onclick="input(7);"></td><td colspan="2">Wörter eintippen</td></tr>
		<tr><td colspan="3"><button onclick="input(3);">Ausgewählte Vokabeln laden</button></td></tr>
		</table>
		<p title="Falls aktiviert: Speichert die ausgewählten Wortschätze und die bekannten und unbekannten Vokabeln im 'localStorage'. Die Daten bleiben nur auf dem Gerät erhalten und werden nicht weitergegeben. Bei keiner Aktivierung wird auch nichts gespeichert."><input type="checkbox" id="cookies" onclick="updateCookies();">Cookies aktivieren</p>
	</body>
<script defer type="text/javascript">
function updateCookies() {
	localStorage.setItem("cookieson", document.getElementById("cookies").checked ? "true" : "");
}
if(localStorage.getItem("cookieson") == "true") {
	document.getElementById("cookies").checked = true;
} else {
	document.getElementById("cookies").checked = false;
	localStorage.clear();
}

function arrayFromLocalStorage(key) {
	const str = localStorage.getItem(key);
	return str ? str.split("{{ page.sep1 }}") : [];
}

function boolFromLocalStorage(key) {
	return localStorage.getItem(key) == "true";
}

function setLocalStorage(key, data) {
	if(localStorage.getItem("cookieson") == "true") {
		localStorage.setItem(key, data);
	}
}

/*
0: Select words → 1 (has selected words)
1: Give a show button → 2 (clicked at show button)
2: Known or unknown → 0 (done) / 1 (known and not done) / 1 (unknown and not done)
*/
let state = 0;

// All vocabulary (from the .yml file)
const vocabulary = [ {% for voc in site.data.vokabeln %}
	[{% for row in voc.vocabulary %}["{{ row | join: '", "'}}"]{% unless forloop.last %},{% endunless %}{% endfor %}]{% unless forloop.last %},{% endunless %}{% endfor %}
];

const endRows = 6; // Only for "customWords" (rows to be subtracted until one reaches the custom words)

const customWords = {
	words: [], // Do NOT edit! (Only through the methods below.)
	add: function(wordArray) {
		const index = this.words.length;
		this.words.push(wordArray);
		this.toLocalStorage();
		this.renderAdd(wordArray, index);
	},
	addFromTable: function(vocabCollectionIndex0, wordIndex) {
		this.add(vocabulary[vocabCollectionIndex0][wordIndex]);
	},
	remove: function(index) {
		this.renderWithWordsChange(() => {
			this.words.splice(index, 1);
		});
		this.toLocalStorage();
	},
	fromLocalStorage: function() {
		this.renderWithWordsChange(() => {
			this.words = arrayFromLocalStorage("customwords").map(elem => elem.split("{{ page.sep2 }}"));
		});
	},
	toLocalStorage: function() {
		setLocalStorage("customwords", this.words.map(elem => elem.join("{{ page.sep2 }}")).join("{{ page.sep1 }}"));
	},
	// Rerenders after the given "action" (which is the only place where "words" - or rather, its length - is allowed to change)
	renderWithWordsChange: function(action) {
		const wordAmountOnLastRender = this.words.length; // How many words there are in the beginning
		if(wordAmountOnLastRender != 0) {
			const wordsDiv = document.getElementById("customwords");
			// Remove all children
			const table = document.getElementById("voctable");
			const removalIndex = table.rows.length - endRows - wordAmountOnLastRender;
			for(let j = 0; j < wordAmountOnLastRender; j++) {
				table.deleteRow(removalIndex);
			}
		}
		action();
		// Add all anew
		for(let i = 0; i < this.words.length; i++) {
			this.renderAdd(this.words[i], i);
		}
	},
	renderAdd: function(wordArray, index) {
		const table = document.getElementById("voctable");
		const row = table.insertRow(table.rows.length - endRows);
		const cols = [(wordArray[3] ? "&bull; " : "") + wordArray[0], wordArray[1] ? wordArray[1] : "", wordArray[2] ? wordArray[2] : ""];
		const hidden = document.getElementsByClassName("hiddenrow{{ colcustom }}")[0].hidden; // Unless called via console: always equal to false
		for(let i = 0; i < cols.length; i++) {
			const cell = row.insertCell(i);
			cell.setAttribute("class", "hiddenrow{{ colcustom }}");
			cell.hidden = hidden;
			const text = document.createElement("span");
			text.innerHTML = cols[i];
			if(i == 0) {
				const removeButton = document.createElement("button");
				removeButton.innerHTML = "&#10060;";
				removeButton.onclick = () => {
					customWords.remove(index);
				};
				cell.appendChild(removeButton);
				text.innerHTML = " " + text.innerHTML;
			}
			cell.appendChild(text);
		}
	},
	submit: function() {
		const elements = ["customword", "customtranslation", "customfw", "customdot"].map(id => document.getElementById(id));
		const wordArray = elements.slice(0, 2).map(elem => elem.value.trim());
		const fw = elements[2].value.trim();
		const dot = elements[3].checked;
		for(let i = 0; i < elements.length; i++) {
			const elem = elements[i];
			if(i == 3) elem.checked = false;
			else elem.value = "";
		}
		if(fw || dot) wordArray.push(fw);
		if(dot) wordArray.push(dot);
		this.add(wordArray);
	},
	download: function(elem) {
		// TODO: Download emoji?
		const data = "text/plain;charset=utf-8," + encodeURIComponent(this.words.map(word => {
			const toReturn = word.slice(0, 3).join("\t");
			if(word[3]) return "\u2022 " + toReturn;
			else return toReturn;
		}).join("\n"));
		elem.setAttribute("href", "data:" + data);
	}
};
// Load custom words from local storage and add them to the vocabulary.
customWords.fromLocalStorage();
vocabulary.push(customWords.words);

// The single word that is currently being learned
let currentWord = null;

// The vocabulary pages that are selected
let selectedVocs = arrayFromLocalStorage("selectedvocs").map(elem => elem == "true");
if(!selectedVocs.length) {
	selectedVocs[vocabulary.length - 2] = true;
}
// Check the checkboxes following the data of the local storage
const selectedVocElems = document.getElementsByClassName("vocselected");
selectedVocs.forEach((elem, index) => selectedVocElems[index].checked = elem == true);
document.getElementById("vocdot").checked = boolFromLocalStorage("vocdot");
document.getElementById("vocfw").checked = boolFromLocalStorage("vocfw");
let typeAnswers = boolFromLocalStorage("voctype");
document.getElementById("voctype").checked = typeAnswers;

// Hide main rows if they are too old
for(let row of document.getElementsByClassName("mainrow")) {
	const date = new Date(row.getElementsByTagName("td")[2].getElementsByTagName("time")[0].getAttribute("datetime"));
	const dateNow = new Date();
	if(dateNow.getFullYear() > date.getFullYear()
	   || (dateNow.getFullYear() == date.getFullYear() && dateNow.getMonth() > date.getMonth())
	   || (dateNow.getFullYear() == date.getFullYear() && dateNow.getMonth() == date.getMonth() && dateNow.getDate() > date.getDate())) {
		row.className += " hideablerow";
		row.hidden = true;
	}
}

/*
Whether the last answer (only when typing is enabled) is:
0. not existing
1. correct
2. incorrect
*/
let answerResult = 0;

// All actual words that are to be learned
let currentWords = arrayFromLocalStorage("currentwords").map(elem => elem.split("{{ page.sep2 }}"));
let currentWordsUnknown = arrayFromLocalStorage("currentwordsunknown").map(elem => elem.split("{{ page.sep2 }}"));
if(!(currentWords.length && Array.isArray(currentWordsUnknown))) {
	loadWords();
}
// Get next word since something will always be in "currentWords"
getNextWord();

updateUI();

function input(type, extraData) {
	switch(type) {
		// Show translation
		case 0:
			if(state == 1) {
				const theWord = currentWords[currentWord];
				document.getElementById("translation").innerHTML = theWord[1] + (theWord[2] ? "<br><i>(" + theWord[2] + ")</i>" : "");
				state = 2;
			}
			break;
		
		// Learn the words (mark as known/unknown)
		case 1:
		case 2:
			if(state == 2 && (!typeAnswers || answerResult == type)) {
				// Reset translation
				document.getElementById("translation").innerHTML = "";
				// If the word was not known, add it to the list later
				if(type == 2) currentWordsUnknown.push(currentWords[currentWord]);
				// Remove learned word
				currentWords.splice(currentWord, 1);
				// Get the next word
				getNextWord();
			}
			break;
		
		// Load the words
		case 3:
			// Reset translation
			document.getElementById("translation").innerHTML = "";
			loadWords();
			getNextWord();
			break;
		
		// Select the vocabulary pages for the selection later
		case 4:
			selectedVocs[extraData] = selectedVocs[extraData] != true;
			// Since they were changed, also store them
			setLocalStorage("selectedvocs", selectedVocs.join("{{ page.sep1 }}"));
			break;
		
		// Store whether vocabulary with dots should be learned
		case 5:
			setLocalStorage("vocdot", document.getElementById("vocdot").checked ? "true" : null);
			break;
		
		// Store whether fw should be learned
		case 6:
			setLocalStorage("vocfw", document.getElementById("vocfw").checked ? "true" : null);
			break;
		
		// Store whether it is selected that answers should be typed
		case 7:
			typeAnswers = document.getElementById("voctype").checked;
			setLocalStorage("voctype", typeAnswers ? "true" : null);
			break;
	}
	updateUI();
}

function toggleVocab(col) {
	if(col) {
		for(row of document.getElementsByClassName("hiddenrow" + col)) {
			row.hidden = !row.hidden;
		}
	} else {
		document.getElementById("vocabtoggled").hidden = !document.getElementById("vocabtoggled").hidden;
		for(row of document.getElementsByClassName("hideablerow")) {
			row.hidden = !row.hidden;
		}
	}
}

function updateUI() {
	document.getElementById("show").style.display = state == 1 ? "block" : "none";
	const typeInput = document.getElementById("type");
	if((state != 1) || !typeAnswers) {
		typeInput.disabled = true;
	} else {
		typeInput.disabled = false;
		document.getElementById("type").select();
	}
	if(typeAnswers) {
		document.getElementById("inputpara").style.display = "block";
		if(state != 2) typeInput.value = "";
		answerResult = (state == 2) ? (checkAnswer(typeInput.value, currentWords[currentWord][1]) ? 1 : 2) : 0;
		document.getElementById("known").style.display = (answerResult == 1) ? "inline" : "none";
		document.getElementById("unknown").style.display = (answerResult == 2) ? "inline" : "none";
	} else {
		document.getElementById("known").style.display = state == 2 ? "inline" : "none";
		document.getElementById("unknown").style.display = state == 2 ? "inline" : "none";
		document.getElementById("inputpara").style.display = "none";
	}
	document.getElementById("newwords").innerHTML = currentWords.length;
	document.getElementById("wrongwords").innerHTML = currentWordsUnknown.length;
}

function checkAnswer(answer, expected) {
	const nAnswer = answer.normalize("NFD").replace(/\u0304|(\([^(]+\))/g, "").toLowerCase();
	const nExpected = expected.normalize("NFD").replaceAll(/\u0304|(\([^(]+\))/g, "").toLowerCase();
	if(nAnswer == nExpected) {
		return true;
	} else {
		// TODO: Improve (splitting by ',' is not a good idea at all!)
		const partition = str => str.split(",").flatMap(elem => elem.split(/\d\./)).map(elem => elem.trim());
		const nAnswerPart = partition(nAnswer);
		return partition(nExpected).some(elem => nAnswerPart.includes(elem));
	}
}

function loadWords() {
	// Show save button
	document.getElementById("customsave").hidden = false;
	const vocdotchecked = document.getElementById("vocdot").checked;
	currentWords = selectedVocs.flatMap((elem, index) => elem ? vocabulary[index] : null).filter(elem => elem && (vocdotchecked || !elem[3]));
	if(document.getElementById("vocfw").checked) {
		currentWords = currentWords.filter(elem => elem[2]).map((elem, index) => [elem[2], elem[0], elem[1], elem[3]]);
	}
	currentWordsUnknown = [];
}

// Gets the next word (will alter the program state)
function getNextWord() {
	// If all "new" words have been learned, repeat the unknown ones
	// (i.e. move the unknown words to the to-be-learned section and clear the unknown section)
	if(!currentWords.length) {
		currentWords = currentWordsUnknown;
		currentWordsUnknown = [];
	}
	// Calculate a random index for the next word
	currentWord = Math.floor(Math.random() * currentWords.length);

	// Already finished learning?
	const currentWordElem = document.getElementById("currentword");
	if(currentWords.length) { // Not finished
		// Set the next word
		currentWordElem.innerHTML = currentWords[currentWord][0];
		// Set the next state
		state = 1;
	} else { // Finished
		// Hide save button
		document.getElementById("customsave").hidden = true;
		// Set the next word
		currentWordElem.innerHTML = "Fertig!";
		// Set the next state
		state = 0;
	}
	// Update the local storage for the current words
	setLocalStorage("currentwords", currentWords.map(elem => elem.join("{{ page.sep2 }}")).join("{{ page.sep1 }}"));
	setLocalStorage("currentwordsunknown", currentWordsUnknown.map(elem => elem.join("{{ page.sep2 }}")).join("{{ page.sep1 }}"));
}

// Add keyboard shortcuts
document.addEventListener("keyup", e => {
    if(e.key == "ArrowLeft") {
		input(1);
	} else if(e.key == "ArrowRight") {
		input(2);
	} else if(e.key == "Enter" || e.key == "ArrowUp" || e.key == "ArrowDown") {
		if(state == 1) input(0);
		else if(state == 2 && typeAnswers && answerResult) input(answerResult);
	}
});
</script>
</html>
